/* DEFAULT = DARK MODE */
body {
  background: #111;
  color: white;
  transition: 0.3s;
}

.card {
  background: #222;
  color: white;
}

.navbar {
  background: #000;
}

.support-container,h1{
    color: #111;
}

/* LIGHT MODE */
body.light-mode {
  background: #ffffff;
  color: #111;
}

body.light-mode .card {
  background: #ffffff;
  color: #111;
  border: 1px solid #ddd;
}

body.light-mode .navbar {
  background: #f5f5f5;
}

body.light-mode button {
  background: #111;
  color: white;
}


/* body.light-mode .menu-btn {
  background: #111;
  color: white;
} */



/* DARK DEFAULT */
.menu-btn {
  /* background: black; */
  color: white;
}

/* LIGHT MODE (PUT THIS BELOW) */
body.light-mode .menu-btn {
  background: white;
  color: black;
}
/* body.light-mode header {
  background: #fff;
  color: #111;
} */
